body{
    background-color: crimson;
}

.IR{
    width: 80%;
    font-size: 50px;
}

.name_of_objects,#result_object,#result_object_accuracy{
    color: yellow;
}

#camera{
    width: 350px;
    height: 300px;
    border: 2px solid black;
}

.vr{
    border-left: 5px solid black;
    height: 500px;
    margin-left:300px;
}

.line{
    width: 50px;
    height: 5px;
    color: black;
}

#div1{
    margin-left: 30px;
}


